@charset "UTF-8";

select {padding:10px; color:#999; border:1px solid #e5e5e5}
input[type=text], input[type=tel], input[type=number], input[type=password]
{padding:5px 10px; width:100%; height:40px; text-align:left; border:1px solid #e5e5e5; font-size:13px; color:#333; font-weight:400; outline:none; font-family:'Noto Sans KR'}
.input_checkbox, .input_radio, .input_radio_check {display:inline-block; position:relative;}
.input_radio .mgl30 {display:inline-block; vertical-align:middle; margin-left:36px; height:24px}
.input_radio input {display:none;vertical-align:middle;}
.input_radio label {display:inline-block; height:24px; vertical-align:middle;}
.input_radio img {margin-top:3px; width:50%}
.input_radio label:after {display:none; background-color:#ff4e25; border-radius:50%; position:absolute; top:49%; left:7px; width:10px; height:10px; content:"";-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.input_radio input:checked + label:before {border-color:#ff4e25;}
.input_radio label:before, .input_radio_check label:before {width:22px; height:22px; position:absolute; border:1px solid #dadada; content: "";border-radius: 50%; background-color:#fff}
.input_radio input:checked+label:after {display:block;}

.myWrap {padding-bottom:60px; min-width:320px; font-family:'Noto Sans KR'}
.myWrap .mgT10 {margin-top:10px}
.myWrap .mgT15 {margin-top:15px}
.myWrap .mgB10 {margin-bottom:10px}
.myWrap .my_area {width:100%}
.myWrap .my_area::after {display:block; content: ''; clear:both; height:7px; background: #f0f0f0;border-top: 1px solid #d0d0d0;}
.myWrap .my_top {margin-bottom:8px;}
.myWrap .myInfo {position:relative; padding:25px 20px; height:40px; text-align:center; border-bottom:1px solid #222; background-color:#000}
.myWrap .myInfo .name {float:left; max-height:35px; font-size:28px; font-weight:500; line-height:1.29; text-align:left; color:#fff}
.myWrap .myInfo .myClass {display:inline-block; margin:14px 0 0 10px; float:left; text-align:left; font-size:16px; font-weight:normal; font-family:'ProximaNova';}
.myWrap .myInfo .btn {position:absolute; top:28px; vertical-align:middle; right:20px; width:88px; height:29px; border-radius:2.5px; border:1px solid #fff}
.myWrap .myInfo .btn button {display:inline-block; vertical-align:middle; width:100%; line-height:1.9; color:#fff}
.myWrap .myInfo .myInfoBox {max-width:66%}
.myWrap .myInfo .myInfoBox .name {max-width:60%}
.myWrap .myInfo .myInfoBox .name.login {max-width:98%}
.myWrap .myInfoArea {max-width:100%; max-height:90px; background-color:#000}
.myWrap .myInfoArea li.myBox {float:left; vertical-align:middle; height:90px; width:33%; text-align:center; border-right:1px solid #222}
.myWrap .myInfoArea li.myBox .pd {padding:18px 0;}
.myWrap .myInfoArea li.myBox .num {font-size:18px; font-weight:500; letter-spacing:normal; text-align:center; color:#fff}
.myWrap .myInfoArea li.myBox .txt {display:inline-block; margin-top:15px; font-size:13px; font-weight:normal; letter-spacing:normal; text-align:center; color:#888}
.myWrap .myInfoArea li.myBox:last-child {border:none}
.myWrap .myInfoArea .myBox::after {content:'';display:block; clear:both}
.myWrap .brGry::after {display:block; content: ''; clear:both; height:7px; background: #f0f0f0;border-top: 1px solid #d0d0d0;}
/* 최근 구매 내역 */
.myWrap .my_lst {padding:25px 20px;}
.myWrap .my_lst .btn_rel {margin:20px auto 0; width:90px; height:30px; text-align:center; vertical-align:middle; color:#555; border:1px solid #ababab; border-radius:3px}
.myWrap .my_lst .btn_rel button {width:100%; height:30px}
.myWrap .my_lst .no_txt {margin:60px 0 35px 0; text-align:center; font-size:14px; color:#888}
.myWrap .my_lst .no_txt .txt {display:inline-block; margin:0 auto}
.myWrap .my_lst .sub_tit {font-size:16px; font-weight:500; color:#000}
.myWrap .my_lst .bg_gry {padding:10px 20px; height:20px; background-color:#f9f9f9;}
.myWrap .my_lst .odrNum {display:block; margin-top:15px; overflow:hidden; border-radius:3px; border:1px solid #e5e5e5}
.myWrap .my_lst .odrNum .txt {font-size:13px; color:#888; font-weight:normal;}
.myWrap .my_lst .odrNum .num {font-size:13px; color:#888; font-weight:normal;}
/* 하단 주문 목록, 취소/반품/교환 목록, 할인 쿠폰, 상품평 관리, 멤버십, 고객센터 */
.myWrap .my_menu {padding:0 20px}
.myWrap .my_menu li {font-size:16px; font-weight:500; color:#000; border-bottom:1px solid #f0f0f0}
.myWrap .my_menu li a {display:block; padding:22px 0;}
.myWrap .my_menu li .mor_arrow {display:inline-block; float:right}
.myWrap .my_menu .badge {display:inline-block; margin-left:10px; line-height:1.5; height:19px; min-width:38.5px; border-radius:9px; font-size:12px; color:#fff; background-color:#ff4e25}
.myWrap .my_menu .badge .num {font-size:13px}
.myWrap .btn_more {margin:0 15px 20px 15px; text-align:center; color:#555; border-radius:3px; border:1px solid #ababab}
.myWrap .btn_more button {padding:14px; width:100%; font-size:14px; font-weight:500; color:#555}
.myWrap .btn_more .orange.num {font-size:16px;}
.myWrap .pd_lst {display:inline-block; padding:20px 15px;}
.myWrap .pd_lst li.ord_box {float:left; padding:15px 0; border-bottom:1px solid #e5e5e5}
.myWrap .pd_lst li.ord_box:last-child {padding-bottom:0; border-bottom:none}
.myWrap .pd_lst li:nth-child(1) {padding-top:0}
.myWrap .pd_thum {display:inline-block; float:left}
.myWrap .pd_thum a {display:block;}
.myWrap .pd_thum a img {width:80px; height:80px}
.myWrap .pd_deWrap {display:block; padding-left:90px}
.myWrap .pd_deWrap .pd_brd {display:-webkit-box; height:40px; text-overflow:ellipsis; overflow:hidden; max-height:34px; line-height: 1.3; word-break:break-all; -webkit-line-clamp:2; -webkit-box-orient:vertical; font-size:13px}
.myWrap .pd_deWrap .state {margin-top:15px; font-size:14px; font-weight:bold;}
.ico.more_arw {float:right; width:10px; height:16px; margin-left:10px; background-position:-183px -45px}
@media screen and (min-width:300px) and (max-width:650px) {
    /* .myWrap .myInfo .name {width:50%} */
}

/* -----------------------------------내정보관리 정보변경 _ 기본정보 ------------------------------------------- */

.sltType {width:100%; position:relative;}
.sltType option .sel_arrow {display:none}
.sltType .sel_arrow {position:absolute; top:10px; right:10px}
.myWrap .atc {font-family:'Noto Sans KR'}
.myWrap .cont {padding:25px 20px;}
.myWrap .cont p {margin-bottom:10px; font-weight:400;}
.myWrap .atc .tit {position:relative;}
.myWrap .atc .tit button {padding:15px 0; position:absolute; top:0; right:20px}
.myWrap .atc .tit p {padding:15px 20px; font-size:16px; font-weight:500; color:#000; border-bottom:1px solid #e5e5e5}
.my_dft::before, .my_dft::after, .my_pwd::after, .my_cellNum::after, .my_ship::after, .my_accNum::after, .my_wdl::before, .my_wdl::after
{display:block; content:''; clear:both; height:8px; background:#f0f0f0; border-top:1px solid #d0d0d0;}
.myWrap .bltType {padding:20px; font-size:12px; color:#888; background-color:#f5f5f5}
.myWrap .bltType li {margin-left:8px; line-height:1.6; text-indent:-8px}
.myWrap .bltType li::before {margin-right:5px; display:inline-block; width:3px; height:3px; vertical-align:2px; content:''; border-radius:30%; -webkit-border-radius:30%;background-color:#888;}
.myWrap .bltType1 {font-size:10px; color:#888;}
.myWrap .bltType1 li {margin-left:8px; line-height:1.6; text-indent:-8px}
.myWrap .bltType1 li::before {margin-right:5px; display:inline-block; width:3px; height:3px; vertical-align:2px; content:''; border-radius:30%; -webkit-border-radius:30%;background-color:#888;}

.my_dft {}
.my_dft .cont {}
.cont button {padding:10px 0; width:100%}
.cont .btn_wht {float:right; margin-left:1%; width:80px; height:38px; text-align:center; vertical-align:middle; color:#333; border:1px solid #333; border-radius:2.5px}
.cont .btn_gry {width:100%; text-align:center; vertical-align:middle; color:#fff; border-radius:3px; background-color:#5d5e6a}
.cont .btn_gry button {padding:12.5px 0}
.cont .int_btnType {margin-top:10px;}
.cont .int_btnType input {width:70%}
.cont .int_btnType::after {content: '';display:block; clear:both}
/* .cont .bgGry {background-color:#f5f5f5} */
.my_dft .cont::after {content:'';display:block;width:0;height:0;line-height:0;opacity:0;overflow:hidden;clear:both}
/* 내정보관리 정보변경 _ 기본정보 */
.my_pwd {}
/* 내정보관리 정보변경 _ 휴대폰 본인 인증 */
.my_cellNum {}
.cont .agr_tle table {width:100%;}
.cont .agr_tle th, .cont .agr_tle td {border:1px solid #e5e5e5;}
.cont .agr_tle th {padding:12px 0;text-align:center; min-width:80px; font-weight:500; background-color:#f5f5f5}
.cont .agr_tle td {padding:12px 15px; text-align:left; font-weight:400;}
/* 기본 배송지  */
.my_ship {}
.tblType {width:100%}
.tblType table {width:100%}
.tblType th, .tblType1 th {width:20%; text-align:left; min-width:80px; font-size:14px; color:#555}
.tblType th, .tblType td {margin-bottom:14px;}
.tblType1 th, .tblType1 td {display:inline-block; margin-bottom:14px;}
.tblType .input_radio {float:left; width:50%}
.tblType .default_check {float:left;width:50%}
.num-select {width:30%; min-width:60px; float:left; display:inline-block;}
.num-select select {width:100%;}
.num-select .selected {padding:0px 5px; vertical-align:middle; min-height:38px; color:#ababab; background-color:#fff; border:1px solid #e5e5e5; font-size:15px; text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow:hidden; display:block; white-space:nowrap}
.num-select .selected.active {border:1px solid #333; background-color:#fff}
.num-select .sz-select_sub {width:97%; height:200px; overflow-y:auto; border:1px solid #333; border-top:0;}
.num-select .selected .sel_arrow {float:right; margin-top:11px}

/* 결제 체크 박스 */
.sz-custom_text {cursor: pointer}
.sz-custom_label {display:inline-block; width:24px; height:24px; background: url("https://hhp-image.s3.ap-northeast-2.amazonaws.com/item/check_off.png") center center/cover no-repeat;cursor:pointer}
.sz-custom_check:checked ~ .sz-custom_label {background:url("https://hhp-image.s3.ap-northeast-2.amazonaws.com/item/check_on.png") center center/cover no-repeat}
.product-select .sz-custom_label {margin:10px; width:16px; height:16px;}
.cartWrap .sz-custom_label {width:22px; height:22px;}
.cartWrap .sz-custom_label.de {width:100px; height:24px}
.cartWrap .all.flt_le {margin-top:1px; width:100px; font-weight:500; color:#000}
/* 셀렉트 옵션 my 공통 */
.product-select {font-size:13px}
.product-select .selected {padding:5px 10px; height:30px; color:#ababab; border:1px solid #e5e5e5; border-top:none; text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.product-select .selected.active {border:1px solid #333}
.product-select .selected .sel_arrow {float:right}
.product-select .selected .product_name {display:inline-block; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap}
.product-select .selected .product_line {display:inline-block; padding-top:4px; line-height:1; vertical-align:6px;font-weight:200; color:#ababab}
.product-select .selected .product_line::before {content: ''; display:inline-block; width: 1px; height: 12px; margin: 0 10px; background-color: #e5e5e5; vertical-align: -2px}
.product-select:first-child .selected {line-height:2.5; border-top:1px solid #e5e5e5}
.product-select:first-child .selected.active {border-top: 1px solid #333}
.product-select:first-child .selected.active span {float:left}
/* 핸드폰 번호 셀렉트 박스 */
.num-select {width:30%; min-width:60px; float:left; display:inline-block;}
.num-select select {width:100%;}
.num-select .selected {padding:0px 5px; vertical-align:middle; min-height:38px; color:#ababab; background-color:#fff; border:1px solid #e5e5e5; font-size:15px; text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow:hidden; display:block; white-space:nowrap}
.num-select .selected.active {border:1px solid #333; background-color:#fff}
.num-select .sz-select_sub {width:97%; height:200px; overflow-y:auto; border:1px solid #333; border-top:0;}
.num-select .selected .sel_arrow {float:right; margin-top:11px}


@media screen and (min-width:590px) and (max-width:1920px) {
    .cont .int_btnType input {float:left; width:86%}
    .cont .int_btnType1 input {float:left; width:82.6%}
}

@media screen and (min-width:590px) and (max-width:1920px) {
    .cont .int_btnType input {float:left; width:86%}
    .cont .int_btnType1 input {float:left; width:82.6%}
}
